<footer class="pb-50  pt-70 pos-relative">
    <div class="pos-top triangle-bottom"></div>
    <div class="container-fluid">
            <a href="index.html"><img src="assets/images/logo-white.png" alt="Logo"></a>
  
            <div class="pt-30">
                    <p class="underline-secondary"><b>Dirección:</b></p>
                    <p>cnr Avs Sayil & Bonampak, 77500 Cancún, Mexico</p>
            </div>
  
            <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Telefono :</b></p>
                    <a href="tel:+53 345 7953 32453 ">01 998 892 1156 </a>
            </div>
  
            <!-- <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Correo:</b></p>
                    <a href="mailto:yourmail@gmail.com"> yourmail@gmail.com</a>
            </div> -->
  
            <ul class="icon mt-30">
                    <li><a href="https://www.facebook.com/La-Barbacoa-de-la-Tulum-920044931398426/" target="_blank" ><i class="ion-social-facebook"></i></a></li>
            </ul>
  
            <p class="color-light font-9 mt-50 mt-sm-30"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div><!-- container -->
  </footer>