
<section class="bg-9 h-500x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
          <div class="dplay-tbl">
                  <div class="dplay-tbl-cell center-text color-white pt-90">
                          <h5><b></b></h5>
                          <h2 class="mt-30 mb-15"> Sucursales </h2>
                  </div><!-- dplay-tbl-cell -->
          </div><!-- dplay-tbl -->
  </div><!-- container -->
</section>






<section class="counter-section section center-text" id="counter">
  <div class="container">
          <div class="row">
           
  <div class="how-section1">
                <div class="heading">
                                <img class="heading-img" src="assets/images/heading_logo.png" alt="">
                                <h2 style="padding-top: 8%" >Todas nuestras sucursales</h2>
                        </div>
              
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="../../../assets/images/slider_1_1920_1200.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>Barbacoda de la tulum</h4>
                                <p class="mb-15">Plaza de Toros Calle Sayin S/N Local 18 y 19, San Miguel 4A, Centro, 77500 Cancún, Q.R. </p>
            
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.063286226185!2d-86.82318628504481!3d21.14987958593287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b7052798a0b%3A0xc914be143fce3fa1!2sBarbacoa+de+la+Tulum!5e0!3m2!1ses!2smx!4v1560813949635!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Barbacoda de la tulum</h4>
                <p class="mb-15">Plaza de Toros Calle Sayin S/N Local 18 y 19, San Miguel 4A, Centro, 77500 Cancún, Q.R. </p>
                           
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.063286226185!2d-86.82318628504481!3d21.14987958593287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b7052798a0b%3A0xc914be143fce3fa1!2sBarbacoa+de+la+Tulum!5e0!3m2!1ses!2smx!4v1560813949635!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                           
                        </div>
            <div class="col-md-6 how-img">
                <img src="../../../assets/images/slider_1_1920_1200.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>

    </div>



          </div><!-- row-->
  </div><!-- container-->

  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.063286226184!2d-86.82318628559042!3d21.14987958593289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b7052798a0b%3A0xc914be143fce3fa1!2sBarbacoa+de+la+Tulum!5e0!3m2!1ses!2smx!4v1560786738222!5m2!1ses!2smx" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen>
  </iframe> -->

</section><!-- counter-section-->

