
<section class="bg-4 h-500x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
          <div class="dplay-tbl">
                  <div class="dplay-tbl-cell center-text color-white pt-90">
                          <!-- <h5><b>THE BEST IN TOWN</b></h5> -->
                          <h2 class="mt-30 mb-15">Nosotros</h2>
                  </div><!-- dplay-tbl-cell -->
          </div><!-- dplay-tbl -->
  </div><!-- container -->
</section> 


<section class="story-area left-text center-sm-text">
  <div class="container">

          <div class="row">
                  <div class="col-md-6"><img class="mb-30" src="assets/images/about-1-600x400.jpg" alt=""></div>
                  <div class="col-md-6"><img class="mb-30" src="assets/images/about-2-600x400.jpg" alt=""></div>
                  <div class="col-md-12">
                          <div class="mt-50 mt-sm-30 mb-50 mb-sm-30 center-text"> <h2>Quiénes Somos</h2> </div>

                          <h5 class="center-text mb-50 mb-sm-30 plr-25">
                                        “Para poder hacer que la misión y la visión sea una realidad todos en la empresa debemos
                                         unirnos para mejorar el desempeño total de los restaurantes”</h5>
                  </div>
                  
                  <div class="col-md-6">
                          <h2> Mision</h2>
                          <p class="mb-15">
                                        Ofrecer a nuestros clientes una experiencia única, competente e innovadora
                                         para lograr día con día una mayor penetración de mercado distinguiéndonos por 
                                         la excelencia en el servicio y calidad de nuestros alimentos en un optimo ambiente.  </p>
                  </div><!-- col-md-6 -->

                  <div class="col-md-6">
                          <h2>Visión</h2>
                          <p class="mb-15">Ser para nuestros clientes un referente de calidad y servicio. Que genere rendimientos
                                   para garantizar un crecimiento sostenido y de alto desempeño </p>
                  </div><!-- col-md-6 -->
          </div><!-- row -->

          <!--<h6 class="center-text mt-40 mt-sm-30 mb-20">
                  <a href="#" class="btn-primaryc plr-25 mb-10 mlr-5"><b>SEE TODAYS MENU</b></a>
                  <a href="#" class="btn-primaryc secondary plr-50 mlr-5 mb-10"><b>ORDER NOW</b></a>
          </h6>-->

  </div>   <!-- container -->
</section>
