
<section class="bg-5 h-500x main-slider pos-relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
            <div class="dplay-tbl">
                    <div class="dplay-tbl-cell center-text color-white pt-90">
                            <!-- <h5><b>THE BEST IN TOWN</b></h5> -->
                            <h2 class="mt-30 mb-15">Menú</h2>
                    </div><!-- dplay-tbl-cell -->
            </div><!-- dplay-tbl -->
    </div><!-- container -->
</section>


<section  class="story-area left-text center-sm-text">
    <div  class="container">
                <div  class="heading mb-sm-10"><h3>Especialidades de la casa</h3></div>
            <div   class="row">


                <!-- tabla de Especialidades de la casa -->
                       <div *ngFor="let item of _servicioProducto.productos ">
                    <div  *ngIf="item.espeCasa == 1"  class="especialidadCajon">
                            <div  class="center-text mb-3">
                                    <div   class="ïmg-200x mlr-auto pos-relative">
                                            <!-- <h6   class="ribbon-cont color-white"><div class="ribbon primary"></div><b>OFFER</b></h6> -->
                                            <img  src="{{item.avatar}}" alt="">
                                            
                                    </div>
                                    <h5   class="mt-20">{{item.name}}</h5>
                                    <h4   class="mt-5 color-primary"><b> Precio: ${{item.precio}}</b></h4>
                            </div><!--text-center-->
                    </div><!-- col-md-3 -->
                </div> 
   

            </div><!-- row-->
    </div><!-- container -->
</section>


<!--XXXXXXXXXXXSSSSSSSSVVVVVV-->
<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <h4 class="font-30 font-sm-20  center-text mb-25">Comida</h4>
        </div><!-- container -->
    </section>


                <section class="">
                                <div class="container">
                                   <div class="row">
                                      <div class="col-xl-12">
                                         <div class="section-title text-center">
                                        <!-- <div class="heading mb-sm-10"><h3>Comidas</h3></div> -->
                                         </div>
                                      </div>
                                   </div>
                                   <div class="row">
                                      <div class="col-lg-4 col-md-6">
                                         <div class="single_special">
                                                <div class="section-title text-center">
                                                 <p>Desayunos</p> 
                                                </div>
                                        
                                                <img src="../../../assets/images/especialidades.png" alt="">
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                <tr *ngIf="item.banderaTabla == 1" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                              </table> 
                                                        </div>
                                         </div>
                                      </div>
                                      
                                      <div class="col-lg-4 col-md-6">
                                                <div class="single_special">
                                                       <div class="section-title text-center">
                                                        <p>Carne por kilo </p> 
                                                       </div>
                                               
                                                       <img src="../../../assets/images/especialidades.png" alt="">
                                               
                                                       <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">

                                                        <tr *ngIf="item.banderaTabla == 13" >
                                                                <td >{{item.name}}</td>
                                                                <td >{{item.gramo}} g</td>
                                                                <td ><p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                       
                                        </table> 
                                                </div>
                                </div>                                      
                                      

                                      <div class="col-lg-4 col-md-6">
                                         <div class="single_special">
                                                <div class="section-title text-center">
                                                        <p>Especialidades</p> 
                                                </div>
                                            <img src="../../../assets/images/especialidades.png" alt="">

                                            <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                <tr *ngIf="item.banderaTabla == 3" >
                                                        <td >{{item.name}}</td>
                                                        <td >{{item.gramo}} g</td>
                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                </tr>
                                               
                                </table> 
                                         </div>
                                      </div>

                                      <div class="col-lg-4 col-md-6">
                                                <div class="single_special">
                                                       <div class="section-title text-center">
                                                        <p>Tacos</p> 
                                                       </div>
                                               
                                               <img src="../../../assets/images/tacos.png" alt="">
             
                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">

                                                <tr *ngIf="item.banderaTabla == 4" >
                                                        <td >{{item.name}}</td>
                                                        <td >{{item.gramo}} g</td>
                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                </tr>
                                               
                                </table> 
                                                </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Tacos por orden</p> 
                                                               </div>
                                                       
                                                       <img src="../../../assets/images/ordentacos.png" alt="">
     
                                                       <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                       
                                                        <tr *ngIf="item.banderaTabla == 5" >
                                                                <td >{{item.name}}</td>
                                                                <td >{{item.gramo}} g</td>
                                                                <td ><p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                       
                                        </table>
                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Tortas</p> 
                                                               </div>
                                                       
                                                         <img src="../../../assets/images/especialidades.png" alt="">

                                                         <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                            
                                                                <tr *ngIf="item.banderaTabla == 6" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Gringas</p> 
                                                               </div>
                                                       
                                                        <img src="../../../assets/images/especialidades.png" alt="">
                        
                                                        <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                
                                                                <tr *ngIf="item.banderaTabla == 7" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Quesos</p> 
                                                               </div>
                                                       
                                                       <img src="../../../assets/images/quesos.png" alt="">

                                                       <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                        
                                                        <tr *ngIf="item.banderaTabla == 8" >
                                                                <td >{{item.name}}</td>
                                                                <td >{{item.gramo}} g</td>
                                                                <td ><p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                       
                                        </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Alambres</p> 
                                                               </div>
                                                       
                                                       <img src="../../../assets/images/alambre.png" alt="">

                                                       <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                        
                                                        <tr *ngIf="item.banderaTabla == 9" >
                                                                <td >{{item.name}}</td>
                                                                <td >{{item.gramo}} g</td>
                                                                <td ><p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                       
                                        </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Costras</p> 
                                                               </div>
                                                       
                                                               <img src="../../../assets/images/especialidades.png" alt="">
                                                      
  
                                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                
                                                                <tr *ngIf="item.banderaTabla == 10" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Nachos</p> 
                                                               </div>
                                                       
                                                               <img src="../../../assets/images/especialidades.png" alt="">
                                                     

                                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                               
                                                                <tr *ngIf="item.banderaTabla == 11" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table> 
                                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Parrilada</p> 
                                                               </div>
                                                       
                                                               <img src="../../../assets/images/especialidades.png" alt="">
                                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                
                                                                <tr *ngIf="item.banderaTabla == 12" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table>                                                        
                                                        </div>
                                        </div>


                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                       <p>Quesadillas</p> 
                                                               </div>
                                                           <img src="../../../assets/images/quesadillas.jpg" alt="">
               
                                                           <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                              
                                                                               <tr *ngIf="item.banderaTabla == 2" >
                                                                                       <td >{{item.name}}</td>
                                                                                       <td >{{item.gramo}} g</td>
                                                                                       <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                               </tr>
                                                                              
                                                               </table> 
                                                        </div>
                                                        </div>
                                                     </div>
                                                     

                                      
                                        <div class="col-lg-4 col-md-6">
                                                        <div class="single_special">
                                                               <div class="section-title text-center">
                                                                <p>Postres </p> 
                                                               </div>
                                                       
                                                               <img src="../../../assets/images/especialidades.png" alt="">
                                                               <table *ngFor="let item of _servicioProducto.productos " style="width:100%" class="set_menu">
                                                                
                                                                <tr *ngIf="item.banderaTabla == 14" >
                                                                        <td >{{item.name}}</td>
                                                                        <td >{{item.gramo}} g</td>
                                                                        <td ><p> Precio: ${{item.precio}}</p> </td>
                                                                </tr>
                                                               
                                                </table> 
                                        </div>
                                        </div>                                                                                                                      
                                   </div>
                                </div>
                             </section>



<section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
            <h4 class="font-30 font-sm-20  center-text mb-25">Bebidas</h4>
    </div><!-- container -->
</section>




<section class="menu_list mt-60 mb-60">
        <div class="container">                        
                <div class="row">
                        <div class="col-md-6">

                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>BEBIDAS </h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">
                                                        <tr>
                                                                <td *ngIf="item.banderaTabla == 1" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 1" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 1"> <p> Precio: ${{item.precio}}</p> </td>                       
                                                        </tr>
                                                </table> 
                                                </div>
                                        </div>
                                </div>
                                <!--INICIO DE PLATILLO DE COMIDA-->
                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>CERVEZAS  </h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">
                                                        <tr>
                                                                <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                </table> 
                                                </div>
                                        </div>
                                 </div>

                                <!--INICIO DE PLATILLO DE COMIDA-->
                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>VASOS  </h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">                                                                                 
                                                        <tr>
                                                                <td *ngIf="item.banderaTabla == 3" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 3" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 3"> <p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                </table> 
                                                </div>
                                        </div>
                                 </div>                                                  
                         </div>

                                               
                        <div class="col-md-6">
                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>BEBIDAS ESPECIALES</h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">
                                                        <tr>                                                                                         
                                                                <td *ngIf="item.banderaTabla == 6" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 6" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 6"> <p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                </table> 
                                                </div>
                                         </div>
                                </div>
                                <!--INICIO DE PLATILLO DE COMIDA-->
                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>MICHELADAS  </h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">
                                                        <tr>
                                                                <td *ngIf="item.banderaTabla == 4" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 4" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 4"> <p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                </table> 
                                                </div>
                                        </div>
                                 </div>
                                <!--INICIO DE PLATILLO DE COMIDA-->
                                <div class="single_menu_list">
                                        <img src="../../../assets/images/especialidades.png" alt="">
                                        <div class="menu_content">
                                                <h4>OTROS  </h4>
                                                <div class="tablaComida">
                                                <table *ngFor="let item of _servicioProducto.productos1 "   style="width:100%" class="set_menu">
                                                        <tr>
                                                                <td *ngIf="item.banderaTabla == 5" >{{item.name}}</td>
                                                                <td *ngIf="item.banderaTabla == 5" >{{item.gramo}} g</td>
                                                                <td *ngIf="item.banderaTabla == 5"> <p> Precio: ${{item.precio}}</p> </td>
                                                        </tr>
                                                </table> 
                                                </div>
                                        </div>
                                </div>
                         </div>
                 </div>
        </div>    

        
</section>