

<section class="bg-1 h-900x main-slider pos-relative" (scroll)="onWindowScroll($event);">
       
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
          <div class="dplay-tbl">
                  <div class="dplay-tbl-cell center-text color-white" >

                          <!-- <h5><b>BEST IN TOWN</b></h5> -->
                          <h1 class="mt-30 mb-15">La Barbacoa <br> De La Tulum</h1>
                          
                          <h5><a [routerLink]="['/contacto']"  class="btn-primaryc plr-25"><b>Contactanos  </b></a></h5>

                  </div><!-- dplay-tbl-cell -->
          </div><!-- dplay-tbl -->
  </div><!-- container --> 
</section> 
 

<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
  <div class="container">
          <div class="heading">
              <div class="col-md-12">
                     <div class="mt-50 mt-sm-30 mb-50 mb-sm-30 center-text"> <h2>Quiénes Somos</h2> </div>

                     <h5 class="center-text mb-30 mb-sm-30 plr-255">
                                   “Para poder hacer que la misión y la visión sea una realidad todos en la empresa debemos
                                    unirnos para mejorar el desempeño total de los restaurantes”</h5>
             </div>
             
          </div><!-- row -->
  </div><!-- container -->
</section>
<!--Scroll to top-->
<button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">
       <img src="../../../assets/images/subir.png" alt="" class="subirbtn">
    </button>

<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>
  <div class="container">
          <div class="heading">
                  
                  <h2>Especialidades de la casa</h2>
          </div>
          
          <div class="row">
              <div *ngFor="let item of _servicioProducto.productos ">
                  <div  *ngIf="item.espeCasa == 1"  class="especialidadCajon ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative">
                                          <!-- <h6  class="ribbon-cont"><div class="ribbon secondary"></div><b>SPECIALITY</b></h6> -->
                                          <img src="{{item.avatar}}" alt="">
                                  </div>
                                  <h5 class="mt-20">{{item.name}}</h5>
                                  <h4 class="mt-5"><b>$ {{item.precio}}</b></h4>
                                  <!-- <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6> -->
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->
              </div> 
          </div>

          <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>MENÚ</b></a></h6>
  </div><!-- container -->
</section>

<!-- AREA DE TRABAJO VERIFICAR EL RESPONSIVO-->
<!-- NOSE QUE HACER                         -->
<!-- -->

          <section class="menu_list mt-60 mb-60">
                <div class="container">
                       <div class="row">
                          <div class="col-xl-12">
                                <div class="heading">
                                  
                                        <h2>Un poco del menú</h2>
                                </div>
                          </div>
                       </div>
                       <div class="row">
                          <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
                                 <li class="nav-item">
                                        <a class="nav-link active " id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab" aria-selected="true">Comidas</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab" aria-selected="false">Bebidas</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link " id="dinner-tab" data-toggle="tab" href="#dinner" role="tab" aria-selected="false">Postres</a>
                                 </li>
                          </ul>
                       </div>
                       <div class="row">
                          <div class="tab-content col-xl-12" id="myTabContent">
                                 <div class="tab-pane fade active show" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
                                        <div class="row">
                                               <div class="col-md-6">

                                                  <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                               <h4>Desayuno  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.dato"   style="width:100%" class="set_menu">
                                                                      <tr>
                                                                             <td *ngIf="item.banderaTabla == 1" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 1" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 1"> <p> Precio: ${{item.precio}}</p> </td>
                                                                      </tr>

                                                               </table> 
                                                               </div>
                                                        </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                        <img src="../../../assets/images/especialidades.png" alt="">
                                                        <div class="menu_content">
                                                               <h4>Quesadillas  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                      <tr>
                                                                             <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>    
                                                                      </tr>
                                                               </table> 
                                                               </div>
                                                        </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                        <img src="../../../assets/images/especialidades.png" alt="">
                                                        <div class="menu_content">
                                                               <h4>Especialidades  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                      <tr>
                                                                             <td *ngIf="item.banderaTabla == 3" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 3" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 3"> <p> Precio: ${{item.precio}}</p> </td>
                                                                      </tr>
                                                               </table> 
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>

                                          <div class="col-md-6">
                                                 <div class="single_menu_list">
                                                 <img src="../../../assets/images/especialidades.png" alt="">
                                                        <div class="menu_content">
                                                        <h4>Tacos por unidad  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                      <tr>
                                                                             <td *ngIf="item.banderaTabla == 4" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 4" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 4"> <p> Precio: ${{item.precio}}</p> </td>
                                                                      </tr>
                                                               </table> 
                                                               </div>
                                                         </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                 <img src="../../../assets/images/especialidades.png" alt="">
                                                        <div class="menu_content">
                                                        <h4>Tortas  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                      <tr>                 
                                                                             <td *ngIf="item.banderaTabla == 6" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 6" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 6"> <p> Precio: ${{item.precio}}</p> </td>
                                                                      </tr>
                                                               </table> 
                                                               </div>
                                                        </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                 <img src="../../../assets/images/especialidades.png" alt="">
                                                        <div class="menu_content">
                                                        <h4>Gringas  </h4>
                                                               <div class="tablaComida">
                                                               <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                      <tr>
                                                                             <td *ngIf="item.banderaTabla == 7" >{{item.name}}</td>
                                                                             <td *ngIf="item.banderaTabla == 7" >{{item.gramo}} g</td>
                                                                             <td *ngIf="item.banderaTabla == 7"> <p> Precio: ${{item.precio}}</p> </td>
                                                                      </tr>
                                                               </table> 
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            
                                 <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
                                        <div class="row">
                                          <div class="col-md-6">

                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>BEBIDAS </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>                       
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>CERVEZAS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>
                 
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>VASOS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">                                                                                 
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 3" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 3" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 3"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>                                                  
                                          </div>
                 
                                                                
                                         <div class="col-md-6">
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>BEBIDAS ESPECIALES</h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>                                                                                         
                                                                                 <td *ngIf="item.banderaTabla == 4" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 4" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 4"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                          </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-------->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>MICHELADAS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 6" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 6" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 6"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>OTROS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 7" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 7" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 7"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                 </div>
                                          </div>
              
                                              
                                        </div>
                                 </div>
                                 <!--POSTRES-->
                            <div class="tab-pane fade " id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
                                   <div class="row">
                                          <div class="col-md-6">

                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>BEBIDAS </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>                       
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>CERVEZAS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 2" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 2"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>
                 
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>VASOS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">                                                                                 
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 3" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 3" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 3"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>                                                  
                                          </div>
                 
                                                                
                                         <div class="col-md-6">
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>BEBIDAS ESPECIALES</h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>                                                                                         
                                                                                 <td *ngIf="item.banderaTabla == 4" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 4" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 4"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                          </div>
                                                 </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>MICHELADAS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 6" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 6" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 6"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                  </div>
                                                 <!--INICIO DE PLATILLO DE COMIDA-->
                                                 <div class="single_menu_list">
                                                         <img src="../../../assets/images/especialidades.png" alt="">
                                                         <div class="menu_content">
                                                                 <h4>OTROS  </h4>
                                                                 <div class="tablaComida">
                                                                 <table *ngFor="let item of _servicioProducto.productos "   style="width:100%" class="set_menu">
                                                                         <tr>
                                                                                 <td *ngIf="item.banderaTabla == 7" >{{item.name}}</td>
                                                                                 <td *ngIf="item.banderaTabla == 7" >{{item.gramo}} g</td>
                                                                                 <td *ngIf="item.banderaTabla == 7"> <p> Precio: ${{item.precio}}</p> </td>
                                                                         </tr>
                                                                 </table> 
                                                                 </div>
                                                         </div>
                                                 </div>
                                          </div>
                 
                                               
                                   </div>
                            </div>
                          </div>
                       </div>
                       <div class="container h-100">
                                   <div class="dplay-tbl">
                                           <div class="dplay-tbl-cell center-text color-white" >
                         
                                                   
                                                   <h5><a [routerLink]="['/menu']"  class="btn-primaryc plr-25"><b>Ver menú completo</b></a></h5>
                                           </div><!-- dplay-tbl-cell -->
                                   </div><!-- dplay-tbl -->
                           </div><!-- container --> 
                </div>
                
         </section>

