
<section class="bg-1 h-900x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
          <div class="dplay-tbl">
                  <div class="dplay-tbl-cell center-text color-white" >

                          <!-- <h5><b>BEST IN TOWN</b></h5> -->
                          <h1 class="mt-30 mb-15">La barcacoa <br> de la tulum</h1>
                          
                          <h5><a [routerLink]="['/contacto']"  class="btn-primaryc plr-25"><b>Contactanos  </b></a></h5>
                  </div><!-- dplay-tbl-cell -->
          </div><!-- dplay-tbl -->
  </div><!-- container --> 
</section> 


<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
  <div class="container">
          <div class="heading">
                  <img class="heading-img" src="assets/images/heading_logo.png" alt="">
                  <h2>Our Story</h2>
          </div>

          <div class="row">
                  <div class="col-md-6">
                          <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse
                                  platea dictumst. Morbi maximus
                                  lobortis ipsum, ut blandit augue ullamcorper vitae.
                                  Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel convallis
                                  massa. Morbi tellus
                                  tortor, luctus et lacinia non, tincidunt in lacus.
                                  Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulum id
                                  dapibus dolor, ac
                                  cursus nulla. </p>
                  </div><!-- col-md-6 -->

                  <div class="col-md-6">
                          <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea
                                  dictumst.Morbi maximus lobortis ipsum, ut blandit augue ullamcorper vitae.
                                  Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel
                                  convallismassa. Morbi tellus tortor, luctus et lacinia non, tincidunt in lacus.
                                  Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulumidda
                                  pibus dolor, accursus nulla. </p>
                  </div><!-- col-md-6 -->
          </div><!-- row -->
  </div><!-- container -->
</section>


<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>
  <div class="container">
          <div class="heading">
                  <img class="heading-img" src="assets/images/heading_logo.png" alt="">
                  <h2>Best Sellers</h2>
          </div>

          <div class="row">
                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative">
                                          <!-- <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6> -->
                                          <img src="assets/images/seller-2-200x200.png" alt="">
                                  </div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative"><img src="assets/images/seller-2-200x200.png" alt=""></div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative"><img src="assets/images/seller-2-200x200.png" alt=""></div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative">
                                          <h6  class="ribbon-cont"><div class="ribbon secondary"></div><b>SPECIALITY</b></h6>
                                          <img src="assets/images/seller-2-200x200.png" alt="">
                                  </div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative"><img src="assets/images/seller-2-200x200.png" alt=""></div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative">
                                          <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                                          <img src="assets/images/seller-2-200x200.png" alt="">
                                  </div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative">
                                          <h6 class="ribbon-cont color-black"><div class="ribbon white"></div><b>PLUS SIZE</b></h6>
                                          <img src="assets/images/seller-2-200x200.png" alt="">
                                  </div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->

                  <div class="col-lg-3 col-md-4  col-sm-6 ">
                          <div class="center-text mb-30">
                                  <div class="ïmg-200x mlr-auto pos-relative"><img src="assets/images/seller-2-200x200.png" alt=""></div>
                                  <h5 class="mt-20">Pizza Margherita</h5>
                                  <h4 class="mt-5"><b>$11.90</b></h4>
                                  <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                          </div><!--text-center-->
                  </div><!-- col-md-3 -->
          </div><!-- row -->

          <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
  </div><!-- container -->
</section>



          <section class="menu_list mt-60 mb-60">
                <div class="container">
                       <div class="row">
                          <div class="col-xl-12">
                                <div class="heading">
                                  
                                        <h2>Menú</h2>
                                </div>
                          </div>
                       </div>
                       <div class="row">
                          <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
                                 <li class="nav-item">
                                        <a class="nav-link" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab" aria-selected="false">Breakfast</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab" aria-selected="false">Lunch</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link active show" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab" aria-selected="true">Dinner</a>
                                 </li>
                          </ul>
                       </div>
                       <div class="row">
                          <div class="tab-content col-xl-12" id="myTabContent">
                                 <div class="tab-pane fade" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
                                        <div class="row">
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-6.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                        </div>
                                 </div>
                                 <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
                                        <div class="row">
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                        </div>
                                 </div>
                                 <div class="tab-pane fade active show" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
                                        <div class="row">
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-1.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-1.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                               <div class="col-md-6">
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                                  <div class="single_menu_list">
                                                         <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                                                         <div class="menu_content">
                                                                <h4>Chicken Fried Salad  <span>$45</span></h4>
                                                                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                                                         </div>
                                                  </div>
                                               </div>
                                        </div>
                                 </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-xl-12 text-center">
                                 <div class="box_btn">
                                        <a href="#">view more</a>
                                 </div>
                          </div>
                       </div>
                </div>
         </section>

